<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Admin Dashboard</title>
    <link rel="stylesheet" href="/AdminStyle.css">
</head>
<body>


<div th:replace="~{${navbar}}"> </div>

    <main class="content">

        <h1>Dashboard</h1>
       
        <div class="stats">
            <div class="stat-card">
                <h3>Total Patients </h3>
                <p th:text="${totalPatients}"></p>
            </div>
            <div class="stat-card">
                <h3>Total Doctors</h3>
                <p th:text="${totalDoctors}"></p>
            </div>
            <div class="stat-card">
                <h3>Total Appointments</h3>
                <p th:text="${totalAppointments}"></p>
            </div>
            <div class="stat-card">
                <h3>Today's Appointments</h3>
                <p th:text="${totalTodayAppointments}"></p>
            </div>
        </div>
    </main>

</body>
</html>





