
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient Dashboard</title>
    <title>Patient Dashboard</title>
    <link rel="stylesheet" th:href="@{/PatientDashBoardStyle.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
</head>
<body>
<nav class="navbar">
    <div class="profile-image">
        <img th:src="@{'/images/'+${user.profile}}" alt="Profile Image"/>
    </div>
    <div class="Name"><h1 th:text="${user.fullName}"></h1></div>
    <ul class="nav-links">
        <li><a th:href="@{/}"><i class="fas fa-house"></i>  Home</a></li>
        <li><a th:href="@{/doctor/seeDoctor/{userId}(userId=${user.userId})}"> <i class="fa-solid fa-user-doctor"></i> See Doctors</a></li>
        <li><a th:href="@{/appointment/Book/{userId}(userId=${user.userId})}"> <i class="fa-regular fa-calendar-days"></i> Book Appointment</a></li>
        <li><a th:href="@{/user/PatientDashBoard}"> <i class="fa-solid fa-list"></i> Check Appointments</a></li>
        <li><a th:href="@{/user/logout}"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
    </ul>
</nav>

<main class="dashboard">
<!--    <header class="welcome-section">-->
<!--        <h1 th:text="${'Welcome ' + user.username}"></h1>-->
<!--    </header>-->



    <section  id="appointments-section"  class="appointments-section">
        <h2>Appointments</h2>
        <div th:if="${appointments.isEmpty()}">
            <p>No appointments done.</p>
        </div>


        <div th:each="appointment : ${appointments}" class="appointment-card">
            <div>
            <p><strong>Date:</strong> <span th:text="${appointment.date}">Date</span></p>
            <p><strong>Time:</strong> <span th:text="${appointment.bookedTime}">Time</span></p>
            <p><strong>Doctor Name:</strong> <span th:text="${appointment.doctor.user.fullName}">Doctor Name</span></p>
            <p><strong>Specialty:</strong> <span th:text="${appointment.doctor.specialization}">Specialty</span></p>
            <p><strong>Status:</strong> <span th:text="${appointment.status}">Status</span></p>
            </div>


             <div>
            <div th:if="${#strings.equals(appointment.status.name(), 'PENDING')}">
            <form th:action="@{/appointment/cancel}" method="post" >
                <input type="hidden" name="appointment_id" th:value="${appointment.appointment_id}"/>
                <button class="btn" name="action"> <i class="fa-solid fa-xmark"></i>  Cancel </button>
            </form>
            </div>

            <form th:action="@{/appointment/delete}" method="post" >
                <input type="hidden" name="appointment_id" th:value="${appointment.appointment_id}"/>
                <button class="btn" name="action"> <i class="fa-solid fa-trash-can"></i>  Delete </button>
            </form>
           </div>

            <div th:if="${#strings.equals(appointment.status.name(), 'COMPLETED')}">
                <form th:action="@{/appointment/FeedbackReport/{userId}/{appointmentId}(userId=${user.userId}, appointmentId=${appointment.appointment_id})}" method="get">
                    <button class="btn view"><i class="fa-solid fa-file-alt"></i> View File</button>
                </form>
            </div>




        </div>


    </section>
</main>

</body>
</html>



