<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointment Report</title>
    <link rel="stylesheet"  th:href="@{/ReportFeedbackstyles.css}">
</head>
<body>

<nav class="navbar">
    <div class="profile-image">
        <img th:src="@{'/images/'+${user.profile}}" alt="Profile Image"/>
    </div>
    <div class="Name"><h1 th:text="${user.fullName}"></h1></div>
    <ul class="nav-links">
        <li><a th:href="@{/}"><i class="fas fa-house"></i>  Home</a></li>
        <li><a th:href="@{/doctor/seeDoctor/{userId}(userId=${user.userId})}"> <i class="fa-solid fa-user-doctor"></i> See Doctors</a></li>
        <li><a th:href="@{/appointment/Book/{userId}(userId=${user.userId})}"> <i class="fa-regular fa-calendar-days"></i> Book Appointment</a></li>
        <li><a th:href="@{/user/PatientDashBoard}"> <i class="fa-solid fa-list"></i> Check Appointments</a></li>
        <li><a th:href="@{/user/logout}"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
    </ul>
</nav>

<div class="contain">
    <h1>Appointment Report:</h1>
    <p><strong>Patient Name:</strong> <span th:text="${appointment.patient.user.fullName}"></span></p>
    <p><strong>Doctor Name:</strong> <span th:text="${appointment.doctor.user.fullName}"></span></p>
    <p><strong>Date:</strong> <span th:text="${appointment.date}"></span></p>
    <p><strong>Time:</strong> <span th:text="${appointment.bookedTime}"></span></p>
    <p><strong>Problem Description:</strong> <span th:text="${appointment.description}"></span></p>
    <p><strong>Status:</strong> <span th:text="${appointment.status}"></span></p>
    <p><strong>Results:</strong> <span th:text="${appointment.results}"></span></p>
    <p><strong>Feedback:</strong> <span th:text="${appointment.review}"></span></p>

</div>


<div class="report-update">

    <div th:if="${#strings.equals(appointment.status.name(), 'COMPLETED') }">
        <form th:action="@{/appointment/FeedbackReport/{userId}/{appointmentId}(userId=${user.userId}, appointmentId=${appointment.appointment_id})}"
              method="post">
            <label for="review">User Feedback:</label>
            <textarea id="review" name="review" rows="6" placeholder="Enter the feedbacks here..."></textarea>
            <button type="submit" id="updateReportBtn">Feedback</button>
        </form>
    </div>
</div>


<!-- Success Popup -->
<div id="popupOverlay" class="overlay hidden">
    <div class="popup">
        <p>Report updated successfully!</p>
        <button id="closePopupBtn">Okay</button>
    </div>
</div>

<script th:src="@{/JavaScript/DoctorReport.js}"></script>
</body>
</html>
