<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Appointment</title>
    <link rel="stylesheet" th:href="@{/TermsStyle.css}">

</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">
            <a th:href="@{/}" style="text-decoration: none; color: white;">Cikitsakaḥ</a>
        </div>
        <ul class="nav-links">
            <li><a th:href="@{/user/login}">Login</a></li>

        </ul>
    </nav>
</header>

<main>
 <section class="Disclaimer">
     <h2> Disclaimer </h2>
<p>Please be aware that the information displayed, transmitted, or carried by Cikitsakaḥ Clinic and its affiliated websites, including but not limited to directories, guides, news articles, opinions, reviews, text, photographs, images, illustrations, profiles, audio clips, video clips, trademarks, service marks, and the like, collectively the "Content," is protected by copyright and other intellectual property laws as per the government of Nepal and should be aware that neither the information nor the solicitation of business contained within are intended to be a substitute for expert medical advice.
    Owners of the Content include Cikitsakaḥ, its affiliates, and any third-party licensors. Any content that you change, publish, transmit, transfer, sell, reproduce, distribute, repost, perform, exhibit, or otherwise commercially exploit is strictly prohibited. You agree not to change the content in any way and to follow all copyright notices and limitations related to any Content accessible through the Cikitsakaḥ  clinic website.
    Permitted Use: You are allowed to print out one copy of any content that is available on the Cikitsakaḥ Clinic for your own personal, non-commercial use as long as you leave any trademark and other legal notices intact. Without written consent, you may not archive or otherwise keep any Content. The only goal of the content on this website is to spread health knowledge for the overall good.</p>
 </section>

    <section class="Limitations">
        <h2> Disclaimer </h2>
<p>
    The website for Cikitsakaḥ Clinic   does not guarantee or support the truthfulness, completeness, or dependability of any information posted, uploaded, or distributed therein. You agree that any reliance on any such statement, recommendation, advice, or information shall be at your own risk. Regarding the website/App, its contents, advertising services, or any products made available via or in connection with it, Cikitsakaḥ Clinic  offers no guarantees or representations of any kind.
    Without limiting the foregoing, Cikitsakaḥ Clinic  expressly disclaims any and all warranties, express or implied, and will not be liable to you or your company for any incidental, consequential, special, or punitive damages or lost or imputed profits or royalties resulting from this content or any products or services provided, whether for breach of warranty or any obligation arising therefrom or otherwise, whether liability is asserted in contract or tort (including negligence and strict product liability) and irrespective of whether you have been advised of the possibility of any such loss or damage.</p>    </section>

<section class="Confidentiality">
    <h2>Confidentiality</h2>
    <p>Your medical information will be kept private, this formal Notice of Privacy Rights and Practices will be given to you, and Cikitsakaḥ will abide by the conditions of the Notice in effect. This policy shall apply to any information that is gathered or shown on our website. We commit to protecting your privacy and maintaining the confidentiality of any information you disclose to us.
        Without your consent, we will not share or sell any of your personal information, including your name, address, age, sex, or medical history.
        We won't knowingly disclose anyone's contents to other authorities or third parties unless legally forced to do so. We cannot promise or ensure that third parties won't have access to the electronic messages or materials that we receive from you.
        Although we use cookie technology to make it easier for users to navigate our site, we never use cookies to store personal data such your banking or credit card information, contact information, etc. Please be aware, nevertheless, that our website contains links to other websites, and that those websites' privacy policies could be different from cikitsakaḥclinic.com. Please send us an email at cikitsakaḥClinic22@gmail.com if you have any more inquiries or worries about our privacy practices. We will make reasonable steps to address any requests, queries, or worries as soon as possible on how we use your personal data.</p>
</section>
</main>

<footer>
    <p>© 2024 AppointDoctors. Created by Sujan Saru</p>
</footer>


</body>
</html>
