<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>  Today's Appointment Lists </title>
    <link rel="stylesheet" href="/AppointmentListsStyle.css">
</head>
<body>
<div th:replace="~{${navbar}}"> </div>


<section  id="todayappointment-section"  class="todayappointment-section">

    <h2> Today's appointment</h2>
    <div th:if="${todaysAppointments.isEmpty()}">
        <p>No Data of Appointments for Today.</p>
    </div>

    <table class="appointments-table">
        <thead>
        <tr>
            <th>Appointment ID</th>
            <th>Patient Name</th>
            <th>Appointment Date</th>
            <th>Time</th>
            <th>Problem</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todayappointment : ${todaysAppointments}">
            <td th:text="${todayappointment.appointment_id}"></td>
            <td th:text="${todayappointment.patient.user.fullName}"></td>
            <td th:text="${todayappointment.date}"></td>
            <td th:text="${todayappointment.bookedTime}"></td>
            <td th:text="${todayappointment.description}"></td>
            <td th:text="${todayappointment.status}"></td>
            <td>

                <form th:action="@{/appointment/delete}" method="post" >
                    <input type="hidden" name="appointment_id" th:value="${todayappointment.appointment_id}"/>
                    <button class="btn" name="action"> <i class="fa-solid fa-trash-can"></i>  Delete </button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>


</section>
</body>
</html>